* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
  --prev-duration: 2.4s;
  --shine-move: 1.6s;
  --shine-gap: 1s;
}

.pos-ab {
    position: absolute;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
    background-color: #ffffff;
}

.o {
    opacity: 0;
}

.skinner-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 250px 1fr 200px;
    /* Top = 250px */
    grid-template-columns: 200px 1fr 200px;
    /* Left | Center | Right */
    grid-template-areas:
        "top    top     top"
        "left   center  right"
        "bottom bottom  bottom";
    animation: fadeIn 1s ease-out forwards;
    background-color: #ffffff;
    background-image: url(bg.jpg);
    background-position: left 0;
    background-size:100% auto;
    background-repeat: no-repeat;
    opacity: 0;
}

.panel {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    cursor: pointer;
}

.top {
    grid-area: top;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    z-index: 10;
    background-image: url(mobile-top-bg.jpg);
    background-size: auto 250px;
    background-position: center top;
    background-repeat: no-repeat;
}

.top .content {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.top #logo {
    transform: scale(0.55);
    opacity: 0;
    aspect-ratio: 153/63;
    right: 20px;
    bottom: 20px;
    max-width: 100px;
}

.top #title {
    /* width: 214px;
    left: 10px;
    top: 67px; */
    width: 185px;
    left: 10px;
    top: 149px;
    opacity: 0;
}

.top #topLockup,
#lockupBox {
    position: relative;
    width: 198px;
    left: 10px;
    top: 191px;    
    aspect-ratio: 340 / 70;
    background-image: url(lookup-text.png);
    background-repeat: no-repeat;
    opacity: 0;
    background-size: auto 100%;
}

#topLockup #lockupBox {
    background-image: url(lookup-box.png);
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 1;
}

#topLockup #lockupBox img {
    width: 59px;
    height: auto;
    left:98px;
    opacity: 0;
    transform: translate(0px, 43px);
    /* top: 24px; */
}


.bottom {
    grid-area: bottom;
    animation-delay: 0.5s;
    width: 100%;
    height: 250px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom .content {
    width: 100%;
    max-width: 700px;
    bottom: 0;
    height:150px;
}

.bottom img {
    display:none;
    width: 50%;
    aspect-ratio: 485/115;
    left: 10px;
}

.bottom img:nth-child(2) {
    width: 20%;
    right: 20px;
    left: unset;
    aspect-ratio: 131/89;
}

.left {
    grid-area: left;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
}

.left .logo {
    width: 58%;
    top: 6%;
    display: none;
    left: 0;
    right: 0;
    margin: auto;
}

.left .content,
.right .content {
    position: relative;
    width: 100%;
    height: 720px;
    margin: auto;
    top: 180px;
}

.left .content img,
.right .content img {
    width: 80%;
    margin: auto;
    opacity: 0;
}

.left .content .title,
.right .content .title {
    left: 0;
    right: 0;
}

.left .content .price {
    width: 74%;
    right: 10px;
    bottom: 169px;
}
.right .content .price {
    width: 47%;
    left: 10px;
    bottom: 169px;
}

.left .content .lockup,
.right .content .lockup {
    left: 0;
    right: 0;
    bottom: 100px;
    width: 95%;
}

.panel .cta {
    border-radius: 64px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    width: 185px;
    height: 46px;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -30px;
    overflow:hidden;
}

.panel .cta::before {  
    content: "";
  position: absolute;
  top: -30%;
  left: -60%;
  width: 60%;
  height: 160%;
  background: linear-gradient(
    115deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 45%,
    rgba(255, 255, 255, 0.85) 50%,
    rgba(255, 255, 255, 0.5) 55%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  filter: blur(0.3px);
  pointer-events: none;
  animation-name: ctaShimmerGap;
  animation-duration: calc(var(--shine-move) + var(--shine-gap));
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.panel .cta.hide-shimmer::before {
  animation-name: unset;
  animation-iteration-count: unset;
}

@keyframes ctaShimmerGap {  
    0% { transform: translateX(0); opacity: 1; }
  60%  { transform: translateX(320%); opacity: 1; }
  100% { transform: translateX(320%); opacity: 1; }

}


.right {
    grid-area: right;
    animation-delay: 0.9s;
    animation-name: slideInRight;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    opacity: 0;
}

.center {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-delay: 1.1s;
    height: 1px;
    width: 1024px;
    /* max-width: 1280px; */
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-color: #fff;
    top: 250px;
}

/* Responsive Behavior */
@media (max-width: 1300px) {
    .skinner-container {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr auto;
        grid-template-areas:
            "top"
            "center"
            "bottom";
    }

    .panel.left,
    .panel.right {
        display: none;
    }

    .top,
    .bottom,
    .center {
        animation-delay: 0.3s !important;
    }
}

/* PC */
/* 150% view */
@media (min-width:1000px) and (max-width:1589px){
    .top {
        background-image: url(top-bg.jpg);
        background-position: center top;
    }

    .top .content {
        max-width: 1280px;
        background-position: center top;
    }

    .top #logo {
        transform: scale(0.55);
        opacity: 0;
        aspect-ratio: 153/63;
        right: 20px;
        bottom: 20px;
        max-width: 100px;
    }

    .top #title {
        width: 320px;
        left: 90px;
        top: 53px;
    }

    .top #topLockup,
    #lockupBox {
        width: 330px;
        left: 92px;
        top: 127px;
    }

    #topLockup #lockupBox {
        background-image: url(lookup-box.png);
        left: 0;
        top: 0;
        overflow: hidden;
        opacity: 1;
    }

    #topLockup #lockupBox img {
        width: 91px;
        left: 166px;
        transform: translate(0, 66px);
    }

    /* .center {
        width: 1024px;
    } */

    .left .content,
    .right .content {
        top: 100px;
        height: 650px;
    }

    .right .content .price {
        width: 70%;
        bottom: 169px;
        left: 27px;
    }

    .panel .cta {
        width: 127px;
        height: 39px;
        font-size: 17px;
        bottom: 33px;
    }
    /* .bottom img{
        width:40%;
        left:0;
    }
    .bottom img:nth-child(2){
        width:15%;
        right:30px;
    } */

}
 /* 125% view */
@media (min-width:1590px) {
    .skinner-container {
        background-position: left 0;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .top {
        background-image: url(top-bg.jpg);
        background-position: center top;
    }

    .top .content {
        max-width: 1280px;
        background-position: center top;
    }
    .top #logo{
        right: 30px;
        bottom: 20px;
        max-width: 150px;
    }
    .top #title{
        width: 320px;
        left: 100px;
        top:50px;
    }
    .top #topLockup, #lockupBox{
        width: 320px;
        left: 104px;
        top:125px;
    }
    #topLockup #lockupBox img{
        width: 94px;
        left: 158px;
    }
   
    .left .logo {
        width: 58%;
        top: 6%;
    }

    .left .content,
    .right .content {
        height: 800px;
        top: 0px;
    }

    .left .content .title,
    .right .content .title {
        left: 0;
        right: 0;
        top: 80px;
    }

    .left .content .price {
        width: 52%;
        right: 10px;
        bottom: 170px;
    }

    .right .content .price {
        width: 47%;
        left: 10px;
        bottom: 170px;
    }
    .left .content .lockup, .right .content .lockup{
        width:93%;
        bottom: 85px;
    }

    .panel .cta {
        width: 185px;
        height: 46px;
        font-size: 22px;
        bottom: 10px;
    }

    .bottom .content {
        width: 100%;
        max-width: 970px;
        bottom: 100px;
        top:80px;
    }

    /* .bottom img {
        width: 30%;
        aspect-ratio: 485/115;
        left: 10px;
    }

    .bottom img:nth-child(2) {
        width: 10%;
        right: 30px;
        left: unset;
        aspect-ratio: 131/89;
    } */
}

/** above 1920 screen*/
@media (min-width:1920px) {
    .skinner-container {
        background-position: left 52px;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .top .content {
        max-width: 1280px;
        background-position: center top;
    }
    .top #logo{
        right: 30px;
        bottom: 20px;
        max-width: 150px;
    }
    .top #title{
        width: 320px;
        left: 100px;
        top:50px;
    }
    .top #topLockup, #lockupBox{
        width: 320px;
        left: 104px;
        top:125px;
    }
    #topLockup #lockupBox img{
        width: 94px;
        left: 158px;
    }
    .left .logo {
        width: 33%;
    }

    .left .content,
    .right .content {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 1000px;
        margin: auto;
        top: 0;
    }

    .left .content img,
    .right .content img {
        width: 73%;
        margin: auto;
        opacity: 0;
    }

    .left .content .title,
    .right .content .title {
        left: 0;
        right: 0;
        top: 70px;
    }

    .left .content .price {
        width: 36%;
        right: 20px;
        bottom: 200px;
    }

    .right .content .price {
        width: 40%;
        left: 20px;
        bottom: 200px;
    }

    .left .content .lockup,
    .right .content .lockup {
        left: 0;
        right: 0;
        bottom: 115px;
        width: 75%;
    }

    .panel .cta {
        width: 215px;
        height: 53px;
        font-size: 26px;
        bottom: 40px;
    }
}

.bounce-left {
    animation: bounce-in-left .8s both;
}

@keyframes bounce-in-left {
    0% {
        transform: translateX(-600px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateX(-68px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateX(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateX(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateX(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }
}
